<div 
    id="content" 
    class="container-fluid p-5 pt-5 slide-left" >
    <!-- <div class="card">
        <div class="card-body">
            <h5 class="card-title">Three Body TUI</h5>
            <p class="card-text">A project that I worked on</p>
            <a hx-get="/content/project/three-body.html" hx-target="#content" hx-swap="outerHTML transition:true" class="btn btn-primary">View</a>
        </div>
    </div> -->
    <div class="container">
        <!--   Overview of me -->
        <div class="row">
            <div class="col">
                <p>Hey I'm a Software Developer based in Edinburgh! Click the cards down below to see my projects, or the links on the footer for my social media.</p>
            </div>
    </div>
    <div class="pb-6">
        <div id="projects" class="card">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Projects</h5>
                        <p class="card-text">A list of past projects, and skill showcases</p>
                        <button class="btn btn-outline-dark" hx-get="/content/projects.html" hx-target="#content" hx-swap="outerHTML transition:true">View</button>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <img src="code.png" class="img-fluid rounded-end" width="60%" height="60%">
            </div>
        </div>
    </div>
    <div class="pb-3 pt-3">
        <div id="resume" class="card">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Resume</h5>
                        <p class="card-text">My current resume</p>
                        <button class="btn btn-outline-dark" hx-get="/content/resume.html" hx-target="#content" hx-swap="outerHTML transition:true">View</button>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <img src="resume.png" class="img-fluid rounded-end" width="60%" height="60%" style="border-left: 1px solid #343434;">
                </div>
            </div>
        </div>
    </div>
    <div class="pb-3">
        <div id="about" class="card">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">Fun info about me, and a contact form for enquiries</p>
                        <button class="btn btn-outline-dark" hx-get="/content/about.html" hx-target="#content" hx-swap="outerHTML transition:true">View</button>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <img src="william.png" class="img-fluid rounded-end" width="60%" height="60%">
                </div>
            </div>
        </div>
    </div>
</div>