<div 
    id="content" 
    class="container-fluid p-5 pt-5 slide-right">
            

    <h1>Projects</h1>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Personal Website</h5>
                        <p class="card-text">A project that I worked on</p>
                        <a hx-get="/content/project/moolman-dev.html" hx-target="#content" hx-swap="outerHTML transition:true" class="btn btn-outline-dark">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Code Status</h5>
                        <p class="card-text">Another project that I worked on</p>
                        <a hx-get="/content/project/code-status.html" hx-target="#content" hx-swap="outerHTML transition:true" class="btn btn-outline-dark">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Three Body TUI</h5>
                        <p class="card-text">A project that I worked on</p>
                        <a hx-get="/content/project/three-body.html" hx-target="#content" hx-swap="outerHTML transition:true" class="btn btn-outline-dark">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Puzzle Cube Solver</h5>
                        <p class="card-text">Another project that I worked on</p>
                        <a hx-get="/content/project/bedlam-cube.html" hx-target="#content" hx-swap="outerHTML transition:true" class="btn btn-outline-dark">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>